<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Singn Up</h1>
    <form method="post" action="/user">
        <label for="">Enter Your Full Name</label>
        <input type="text" placeholder="Enter name" name="name">
        <label for="">Enter EmailID </label>
        <input type="text" placeholder="Enter Email" name="email">
        <label for="">Enter Password</label>
        <input type="text" placeholder="Enter password" name="password">
        <button type="submit">submit</button>
    </form>
</body>
</html>